---
import Greeting from "../components/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Mi Sitio Astros</h2>
  <Greeting client:load messages={["Hi", "Hello", "Welcom"]} />
</BaseLayout>
